body {
  background: black;
}
h1 {
  font-family: "Bakbak One";
  font-size: 70px;
  margin-top: 0px;
}
.disco {
  border: 100px solid black;
  width: 60px;
  height: 60px;
  border-radius: 200px;
  display: grid;
  justify-items: center;
}
p {
  font-family: "Bakbak One";
  font-size: 24px;
  text-transform: uppercase;
  display: grid;
  justify-items: end;
}
img {
  margin: 0 auto;
  padding-bottom: 130px;
}
.conteudo {
  background: #f0f0ee;
  display: grid;
  justify-content: center;
  height: 500px;
}
.conteudo span {
  margin-top: 80px;
}
.grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 30px;
  justify-content: center;
}
